.button:hover:not([disabled]),
.button:active:not([disabled]) {
    text-decoration: underline;
    cursor: pointer;
}

.button:disabled {
    color: #57534E;
}

.container {
    max-width: 600px;
}

.calendar-container {
    width: auto;
}

@media (max-width: 440px) {
    .calendar-container {
        width: 300px;
    }
}
