.modal {
    word-break: break-all;
    max-width: 600px;
    min-width: 400px;
}

.close-button {
    transition-duration: 0.4s;
}

.close-button:hover {
    background-color: #723131;
    color: white;
}
