.modal {
    word-break: break-all;
    max-width: 600px;
    min-width: 400px;
}

.close-button {
    transition-duration: 0.1s;
    @apply cursor-pointer
}

.close-button:hover {
    @apply bg-red-800
}
